/* Floating button */
.float-btn {
    position: fixed;
    bottom: 20px; /* ระยะห่างจากด้านล่าง */
    right: 20px; /* ระยะห่างจากด้านขวา */
    background-color: #a14fff; /* สีพื้นหลัง */
    border-radius: 50%; /* ให้เป็นรูปทรงกลม */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เงาที่ปุ่ม */
    text-align: center;
    display: inline-block;
    z-index: 1000; /* ให้ปุ่มอยู่ด้านหน้าของเนื้อหาที่อื่น */
    transition: background-color 0.3s;
    margin-bottom: 60px;
}

.float-btn:hover {
    background-color: #4542ff; /* เปลี่ยนสีเมื่อวางเมาส์เหนือปุ่ม */
}

.float-btn img {
    width: 50px;
    height: 50px;
}

/* ตารางแสดงห้อง */
.rooms-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    min-height: 300px; /* กำหนดความสูงขั้นต่ำ */
    padding-bottom: 60px; /* เพิ่ม padding ด้านล่างเพื่อให้ปุ่มไม่ทับ */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
}

td a {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
}

.btn-edit, .btn-delete {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-edit {
    background-color: #28a745;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-delete1 {
    background-color: #dc3545;
    color: white;
    width: 80px;
    height: 40px;
    margin-top: 100px;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 10%;
}

.btn-delete1:hover {
    background-color: #c82333;
}

/* กำหนดข้อความเมื่อไม่มีห้อง */
.no-rooms {
    text-align: center;
    font-style: italic;
    color: #888;
}

body {
    padding-bottom: 100px; /* เพิ่มช่องว่างด้านล่างของ body ทั้งหมด */
}
